@import "src/_variables.scss";
table {
  width: 100%;
  text-align: center;
}

.tableTop{
  border-top: none;
}

th,td {
  padding: 8px;
  text-align: right;
}

.donja{
  padding-bottom: 50px;
  border-bottom: 4px solid var(--primary-color) !important;
}
.bottom{
  border-bottom: 2px solid var(--primary-color) !important;
  border-top: 2px solid var(--primary-color) !important;
}
button {
  margin-right: 5px;
}

h3{
  color: var(--primary-color) !important;
}
:host ::ng-deep {
  .p-datatable {
    background-color: var(--white) !important;
    color: var(--black) !important;
    width: 1000px;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .p-button p-button-text {
    color: var(--white) !important;
  }

  .search-container {
    display: flex;
    justify-content: space-between;
  }

  .content {
    max-width: 1000px;
  }
  
  .btn {
    background-color: var(--primary-color);
    
  }

  .td{
    border: none;
  }
  .images{
    height: 150px;
    width: 120px;
  }
}